//colors
$mainBlack: #1e1e1e;
$lightBlue: #4e95c9;
$ligthYellow: #f8d059;
$fucsiaRed: #f92672;
$greenYellow:#a6e32e;
$lightGray:rgb(224, 224, 226);
$yellowPostIt: #ffc;

// medias
$small-mobile: 350px;
$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
$large-desktop: 1800px;

@mixin for-mobile-landscape{
  @media (max-width: $tablet-landscape) and (max-height: $tablet-portrait) {
    @content; 
   }
}


@mixin for-small-mobile-down{
  @media (max-width: $small-mobile) {
    @content; 
   }
}


@mixin for-tablet-portrait-up {
  @media (min-width: $tablet-portrait) {
     @content; 
    }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $tablet-landscape) {
     @content; 
    }
}

@mixin for-desktop-up {
  @media (min-width: $desktop) { 
    @content; 
  }
}

@mixin for-big-desktop-up {
  @media (min-width: $large-desktop) {
     @content; 
    }
}

@mixin titlesWidths {
  @include for-tablet-portrait-up(){
    font-size: 2.3rem;
  }

  @include for-tablet-landscape-up(){
    font-size: 3.3rem;
  }
}

//anchor sections
#about, #skills, #projects, #API, #contacts{
  scroll-margin-top: 3.5rem;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: "Poppins", sans-serif;
    color: $mainBlack;
    scroll-behavior: smooth;
    height: 100%;
  }


  a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  li {
    list-style-type: none;
  }

  //menu
 .menu-header{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: $lightBlue;
  z-index: 1000;
 }


  //menu burger button

  .burger {
    position: relative;
    left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 30px;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor:pointer;
    

    &__container{
        width:100%;
        height: 3px;
        background-color: $lightGray;
        margin: auto;
        border-radius: 5px;
        transform-origin: center;

        &::before,
        &::after{
            content:"";
            display: block;
            width:100%;
            height: 3px;
            border-radius: 5px;
            transform-origin: center;
            background-color: $lightGray;
        }

        &::before{
            transform: translateY(-8px);
        }

        &::after{
            transform: translateY(5px);
        }

        &--animation{
            animation: burgerMiddleBar 0.5s ;
            animation-delay: 0.2s;
            

            &::before{
                animation: burgerTopBar ease-in-out 0.7s ;
                
            }

            &::after{
                animation: burgerBottomBar ease-in-out 0.7s ;
                
            }
        }

        &--active{
            background:rgba(0,0,0,0.0);
            

            &::before{
                transform: translateY(0) rotate(-225deg);
                
            }

            &::after{
                transform: translateY(-3px) rotate(225deg);
                
            }
        }

        &--animation-reverse{
            animation: burgerMiddleBarReverse 0.5s  forwards;
            &::before{
                animation: burgerTopBarReverse ease-in-out 0.7s forwards;
              }
            &::after{
                animation: burgerBottomBarReverse ease-in-out 0.7s forwards;
            }
        }
      }
    }

    //menu body
    .menu{
      width: 100%;
      height: 100%;

      &-header{
        transform: translateY(0);
        transition: transform 200ms linear;

        &-is-hidden{
          transform: translateY(-100%);
        }
      }
      
    }
    .menu-body{
      width: 100%;
      height: calc(80dvh - 50px);
      background-color: $lightBlue;
      transform: translateX(-100%);
      transition: all ease-in-out 0.7s;

      @include for-mobile-landscape(){
        height: calc(80dvh - 50px);
      }

      &--active{
        transform: translateX(0);
      }
    }
    
    
    .menu-nav{
      height: 100%;
      color: $lightGray;
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5%;


      @include for-mobile-landscape(){
        font-size: 1.1rem;
        gap: 0;
      }

      @include for-tablet-portrait-up(){
        font-size: 1.4rem;
      }

      @include for-desktop-up(){
        font-size: 2rem;
      }

      &-link{
        transform: translateX(-100%);
        transition: transform ease-in-out 0.7s;
        width: 100%;
        


        &--active{

          @for $i from 1 through 6 {
            &:nth-child(#{$i}){
              transform: translateX(0);
              transition-delay: $i * calc(1s / 12);
            }
          }

          & a {
            display: block;
            width:fit-content;
            margin: auto;
            cursor: pointer;

            &:hover{
              transform: scale(1.1);
              color: $ligthYellow;  
            }
            
          }
        }
      }
    }

    

    .menu-footer{
      width: 100%;
      height: 20dvh;
      background-color: $lightGray;
      transform: translateX(100%);
      transition: all ease-in-out 0.7s;
      margin:auto;

      @include for-mobile-landscape(){
        height: 20dvh;
      }

      &--active{
        transform: translateX(0);
      }
      
      &-nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @include for-tablet-portrait-up(){
          gap: 3rem;
        }

        &-link{
          transform: scale(0);
          transition: transform  0.7s ease-in-out;
          font-size: 2.5rem;
          width: 2.5rem;
          cursor: pointer;

          @include for-tablet-portrait-up(){
            width: 4rem;
            font-size: 4rem;
          }
          
          & svg{
            @include for-mobile-landscape(){
                width:35px;
            }
          }

          & a{
              position: relative;
              display: flex;
              width: 100%;
              align-items:center;

               @include for-tablet-portrait-up(){
                width: 62px;
              }

            & svg {
              width: 100%;
              fill:currentColor;

               @include for-mobile-landscape(){
                width:35px;
              }
            }
          }

         

          &--active{
            & a {

              & svg{
                &:hover{
                  fill: $lightBlue;
                }
              }
            }
            @for $i from 1 through 5 {
              &:nth-child(#{$i}){
                transform: scale(1);
                transition-delay: $i * calc(2s / 20);

                &:hover{
                  transition: none;
                  color: $lightBlue;
                }
                }
              }
            }
        }
      }
    }

    //banner
    .banner{
      position: relative;
      top:60px;
      margin-bottom: 80px;
      white-space: nowrap;

      &-title{
        font-size: 1.2rem;
        color: #ffffff;
        white-space: nowrap;

        @include for-small-mobile-down(){
          font-size: 17px;
        }

        @include for-tablet-portrait-up(){
          font-size: 2rem;
        }

        @include for-tablet-landscape-up(){
          font-size: 3rem;

        }

        @include for-desktop-up(){
          font-size: 4rem;
        }
        @include for-big-desktop-up(){
          font-size: 6rem;
        }
      }
    }
    .title-1{
      color: $lightBlue;

      &-back{
        color: $fucsiaRed;
      }
    }
    .title-2{
      color: $ligthYellow;

      &-back{
        color: $greenYellow;
      }
    }
    .resize{
      max-width: 95%;
      margin:auto;
      height: 300px;
      position: relative;
      overflow: hidden;
      user-select: none;

      @include for-tablet-portrait-up(){
        height: 400px;
      }

      @include for-desktop-up(){
        height: 500px;
      }

      @include for-big-desktop-up(){
        height: 600px;
      }

      &__text-left{
        position: relative;
        width: 50%;
        padding-top:30px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: left;

        @include for-tablet-portrait-up(){
          padding-left: 35px;
        }

        @include for-desktop-up(){
          padding-left: 50px;
        }

        & p {
          font-size: 0.6rem;
          color:#ffffff;

          @include for-tablet-portrait-up(){
            font-size: 0.8rem;
          }

          @include for-tablet-landscape-up(){
            font-size: 2rem;
          }

          @include for-desktop-up(){
            font-size: 2.3rem;
          }
          
          @include for-big-desktop-up(){
            font-size: 3.5rem;
          }
        }

        &-back{
          & h1, & p{
            color: $mainBlack;
          }
      }
        
      }

      &__container{
        position: absolute;
        width: 50%;
        max-width: 100%;
        height: 100%;
        background-color: $mainBlack;
        z-index: 10;
        display: flex;
        justify-content: space-between ;
        overflow: hidden;
      }
      /* bar on the right side of the parent div resize__container that needs to move it */
      &__right-side{
        position: absolute;
        cursor: grab;
        z-index: 10;
        background-color:$lightBlue;
        height: 100%;
        right: 0;
        top: 0;
        width: 5px;

        &--active{
          cursor: grabbing;
        }
      }

      &__arrows{
        position: absolute;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-size: 0.6rem;
        color: white;
        bottom: 0;
        z-index: 1;
        right: 10px;
        color:$ligthYellow;

        &-text{
          color:$lightBlue;
        }

        @include for-tablet-portrait-up(){
          font-size: 0.8rem;
        }
      }

      &__function-img{
        position: relative;
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;
        overflow: hidden;
       

        & img{
          position: absolute;
          height: auto;
          right: -50%;
          max-width: 55%;
          right: 10vw;

          @include for-tablet-portrait-up(){
            max-width: 40%
          }

          @include for-tablet-landscape-up(){
            max-width: 28%
          }
          
          @include for-desktop-up(){
            max-width: 30%;
          }
        }
      }
  
      &__background{
        position: absolute;
        width: 100%;
        height: 100%;
        background: $lightGray;
        display: flex;

        & img{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 35px;
          width: 35%;

          @include for-tablet-landscape-up(){
            width: 25%;
          }
        }
      }
    }
    //about section
    .about{
      width: 100%;
      margin: 7rem auto;

      @include for-tablet-portrait-up(){
        margin: 10rem auto 10rem auto;
      }
  

      &__title{
        display: flex;
        justify-content: center;
        align-items: end;
        gap:1px;
        flex-wrap: nowrap;
        margin-bottom: 1.5rem;

        @include for-desktop-up(){
          margin-bottom: 4rem;

        }
      }

      & h1{
        @include titlesWidths();
      }

      &__dot{
        position: relative;
        bottom: 2px;
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-right: 2px;
        border-radius: 50%;
        background-color: $mainBlack;

        &:nth-child(1){
          animation: bounceAnimation 0.6s 0.1s ease-in infinite;
        }
        &:nth-child(2){
          animation: bounceAnimation 0.6s 0.2s ease-in infinite;
        }
        &:nth-child(3){
          animation: bounceAnimation 0.6s 0.3s ease-in infinite;
        }
        
        @include for-tablet-portrait-up(){
          bottom: 5px;
        }

        @include for-tablet-landscape-up(){
          bottom: 10px;
        }
      }


      &__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 3rem;
        

        @include for-desktop-up(){
          flex-direction: row;
          height: 400px;
        }
      }

      &__photo{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#ffffff;

        & img{
          width: 100%;
          margin: auto;
          object-fit: contain;

          @include for-tablet-portrait-up(){
            width: 70%;
          }

          @include for-big-desktop-up(){
            width: 50%;
          }
        }
      }

      &__text{
        background-color: $lightBlue;
        display: flex;
        justify-content: end;
        text-align: justify;
        color: #ffffff;
        font-size: 0.8rem;
        width: 95%;
        padding: 0.5rem 1rem 1rem 1rem;
        clip-path:polygon(0% 0%, 100% 0%, 100% 85%, 68% 85%, 61% 100%, 59% 85%, 0 85%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 78% 85%, 59% 100%, 66% 85%, 0 85%);
        margin: 1.5rem 0 0 0;

        @include for-tablet-portrait-up(){
          font-size: 1.2rem;
          
        }

        @include for-desktop-up(){
          clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
          padding-top: 0;
          padding-bottom: 0;
          align-items: center;
          margin-right: 2.5%;
          height: 80%;
        }

        & p{
          
          padding: 1.5rem;
          padding-bottom: 3.5rem;


          @include for-desktop-up(){
            padding-bottom:2rem;
            width: 50%;
            margin-right: 12%;
          }

        }
      }
    }
    //my skill
  .competences{
    width: 95%;
    margin: 7rem auto;
    text-align: center;

    @include for-tablet-portrait-up(){
      margin: 10rem auto 10rem auto;
    }

    & h1{
      @include titlesWidths();
    }

    &__wrapper{
      width: 100%;
      margin: 5rem 0 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      padding:0;


      @include for-tablet-landscape-up(){
        flex-direction: row;
        margin: 10rem 0 10rem 0;
        height: 650px;
        gap: 6rem;

      }

    }

    &__box{
      position: relative;
      width: 90%;
      height: 100%;
      border-radius: 10px;
      border: 4px solid $lightBlue;
      box-shadow: 5px 5px 5px $lightGray;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;

      @include for-tablet-portrait-up(){
        margin-top: 5rem;
      }

      @include for-tablet-landscape-up(){
        width: 40%;
        margin-top: 0;

      }
    }

    &__icon{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #4e95c9;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -90px;

      & svg {
        width: 40%;
        height: 40%;
        color: #ffffff;
      }
    }

    &__texts{
      padding: 2rem 1rem;
      
      & h4{
        margin-bottom: 0.5rem;
        font-size: 1.3rem;

        @include for-tablet-portrait-up(){
          font-size: 1.7rem;
        }

        @include for-desktop-up(){
          font-size: 2rem;
        }
      }

      & p, & ul, & h6{
        margin-bottom: 2rem;
        font-size: 1.1rem;

        @include for-tablet-portrait-up(){
          font-size: 1.3rem;
        }
      }

      & ul li{
        padding: 0.3rem;
      }
      
    }

  }
    // cube
  .canvas{
    position:relative;
    width:150%;
    height: 150%;

    &__text{
      & i {
        padding-right: 1rem;
      }
    }

  
   
  }
  .canvas-container {
    position: relative;
    width: 100%;
    height: 350px;
    top:0;
    left: 0;
    z-index: 100;

    @include for-tablet-portrait-up(){
      height: 400px;
    }
    @include for-tablet-landscape-up(){
      height: 450px;
    }
    @include for-desktop-up(){
      height: 500px;
    }
    @include for-big-desktop-up(){
      height: 800px;
    }
  }



  //Projects
  .projects{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem auto;

    @include for-tablet-portrait-up(){
      margin: 10rem auto 10rem auto;
    }


    & h1{
      font-size: 2rem;
      @include titlesWidths();
    }

    &__cards{
      gap: 3rem;
      flex-wrap: wrap;
      margin: 1rem auto;
      padding-top: 2.5rem;
      display: flex;
      justify-content: center;
    }


    &__project{
      position: relative;
      width: 280px;
      height: 320px;
      cursor: pointer;

      @include for-tablet-portrait-up(){
        width: 300px;
        height: 350px;
      }
      @include for-desktop-up(){
        width: 330px;
        height: 380px;
      }
    }
  }
  
  //flipping cards
  .card{
    position:relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    
    &__front,&__back{
      position:absolute;
      width:100%;
      height:100%;
      backface-visibility: hidden;
      text-align: center;
      padding: 10px 10px 25px 10px;
      box-shadow: 0px 1px 5px 0px #656565;
      background: rgb(255, 248, 248);

    }

    &__back{
      color: $mainBlack;
      transform:rotateY(180deg);
      text-align: center;

      &.back{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;


        & p{
          font-size: 0.8rem;
        }
        
        & ul {
          padding:1rem 0 0.5rem 0;

          & li {

            @include for-tablet-portrait-up(){
              padding: 0.2rem;
            }

            @include for-tablet-landscape-up(){
              padding: 0.3rem;
            }

            @include for-desktop-up(){
              padding: 0.4rem;
            }
          }
        }

        & button{
          background-color: rgb(255, 248, 248);
          border: none;
          cursor: pointer;
          margin-top: auto;
          transition: all 0.2s ease-in-out;
          color: $lightBlue;

          &:hover{
            perspective: 1000;
            transform: scale(1.2);
          }
        }
      }
    }

    &--flipped{
    transform: rotateY(180deg)
    
    }

    & img {
      width: 100%;
      height: 80%;
      object-fit: fit content;
      padding: 4px;
      border: solid 1px $lightGray;
      border: 1px solid #C9C9C9;
    }

    & h3, & p {
      padding: 1rem 0;
    }

    &__instruction p{
      font-size: 0.8rem;
      padding: 1.5rem 0 0 0 ;
      font-weight: bold;
      margin-bottom: 2rem;
      
      & span{
        margin-left: 0.5rem;
      }
    }

  }



  .activity{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 7rem auto;

    @include for-tablet-portrait-up(){
      margin: 10rem auto 10rem auto;
    }


    & h1{
      @include titlesWidths();
    }

    & h5{
      padding: 2rem 0 ;

      @include for-tablet-portrait-up(){
        font-size: 1.2rem;
      }
    }
    &__wrapper{
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__carousel{
      width: 100%;
      background-color: #4e95c9;
      padding: 2rem;
      position: relative;
      display: flex;
      justify-content: center;
      overflow: hidden;
      text-align: center;
    }

    &__slide{
      width: 250px;
      height: 250px;
      margin: auto;
      background:$yellowPostIt;
      box-shadow: 0px 1px 5px 0px #656565;

      & p {
        font-weight: bold;
      }
      & ul li{
        padding: 0.2rem 0;
      }

      &.slide-2{
        position:absolute;

        &.slide-2--active{
          transition: all 1s ease-in-out;
          transform:translateY(120%) ;
        }

        & h3{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }
    }

    & p {
      padding:2rem;
    }

    & button {
      margin-top: 1rem;
      padding: 0.8rem;
      width: 200px;
      font-size: 1rem;
      border: 3px solid $lightBlue;
      background: linear-gradient(to right, $lightBlue 50%, #ffff 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
      cursor: pointer;

      &:hover{
        background-position: left bottom;
        color: #ffffff;
      }

      &:disabled{
        color:$ligthYellow;
      }
    }
  }
  
  .contacts{
    text-align: center;
    width: 95%;
    margin: 7rem auto 1rem auto;

    & h1{
      @include titlesWidths();
    }

    @include for-tablet-portrait-up(){
      margin: 7rem auto;
      margin: 10rem auto 5rem auto;
    }

    & svg{
      fill:currentColor;
      width:77px;
      margin-bottom: 10px;

      
      
      &:hover{
        fill: $lightBlue;
      }
      
    }

    &__logos{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4rem 1rem 0 1rem;
      gap: 3rem;
      font-size: 1.2rem;
      
      

      @include for-tablet-portrait-up(){
        flex-direction: row;
        align-items: start;
        height: 250px;
        font-size: 1.2rem;
      }
    }
    &__logo{
      width: 200px;
      

      &:hover{
        transform: scale(1.1);
        color: $lightBlue;

        & .resume-icon{
          fill: $lightBlue;
        }
      }
    }
    &__icon{
      font-size: 4rem;
      padding-bottom: 1rem;
      cursor: pointer;
      @include for-tablet-portrait-up(){
        font-size: 5rem;
        padding-bottom: 1rem;
      }
    
    }
  }

  //footer
  .footer{
    position: relative;

    &__wave{
      position: relative;
      width: 100%;
      z-index: 0;
      height:150px;
    }

    
    &__wave-svg{
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -30px;
      

      & path{
        transform: translateY(50px);
      }
    }

    &__credits{
      width: 100%;
      position: absolute;
      bottom: -25px;
      font-size: 0.5rem;
      z-index: 1;
      color: $lightGray;
      

      text-align: center;

      @include for-tablet-landscape-up(){
        font-size: 0.6rem;
      }
      @include for-desktop-up(){
        font-size: 0.7rem;
      }
      & p{
        padding: 0.2rem;
      }

      & a {
        color: $ligthYellow;
      }
    }
  }
  //animations

  //menu animation
  @keyframes burgerTopBar{
    0%{
        transform: translateY(-8px);
    }
    30%{
        transform: translateY(-9px);
    }
    50%{
        transform: translateY(0px)
    }
    100%{
        transform: translateY(0) rotate(-225deg);
    }
}

@keyframes burgerTopBarReverse{
    0%{
        transform: translateY(0) rotate(225deg);
       
    }
    30%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-9px)
    }
    100%{
        transform: translateY(-8px);
    }
}

@keyframes burgerMiddleBar{
    0%{
        opacity:1;
    }
    50%{
        background:rgba(0,0,0,0.0);
    }
    100%{
        background:rgba(0,0,0,0.0);
    }
    
}

@keyframes burgerMiddleBarReverse{
    0%{
        background:rgba(0,0,0,0.0);
    }
    50%{
        background:rgba(0,0,0,0.0);
    }
    100%{
        opacity:1;
        background: $ligthYellow;
    }
    
}

@keyframes burgerBottomBar{
    0%{
        transform: translateY(5px);
        
    }
    30%{
        transform: translateY(6px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        
        transform: translateY(-2px) rotate(225deg);
    }
}

@keyframes burgerBottomBarReverse{
    0%{
        transform: translateY(-5px) rotate(-225deg);
    }
    30%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(6px);
    }
    100%{
        
        transform: translateY(5px);
    }
}
//bouncing dots animation

@keyframes bounceAnimation{
  0% {
    transform: translate(0, 0);
  }
  16% {
    transform: translate(0, -5px);
  }
  33% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

//
  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    1%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }